<a href="https://colab.research.google.com/github/hyelim-kim1028/Algorithm_Study/blob/main/SQLite3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# SQLite3 API 정리 
# SQL은 DB based 이고, SQLite은 file based 

import sqlite3
con = sqlite3.connect('example.db')
# connection 객체: 데이터베이스 나타냄 
# 데이터는 example.db에 저장됨

In [ ]:
cur = con.cursor() # cursor객체 생성 

# execute() 메서드 호출 > SQL 수행 

# Create table 
cur.execute('''CREATE TABLE stocks
               (date text, trans text, symbol text, qty real, price real)''')
# 같은 코드가 두번 돌면 > already exits 에러가 뜬다 


#insert a row of data 
cur.execute("INSERT INTO stocks VALUES('2006-01-05','BUY','RHAT',100,35.14)")

# save (commit) the chantes 
con.commit()

# close the connection 
con.close()

In [ ]:
# 데이터를 영구 저장 후 다시 사용 가능 
con = sqlite3.connect('example.db')
cur = con.cursor()

In [ ]:
cur.execute("INSERT INTO stocks VALUES('2006-03-28', 'BUY', 'IBM', 1000, 45.0)")

In [ ]:
cur.execute("INSERT INTO stocks VALUES('2006-04-06', 'SELL', 'IBM', 500, 53.0)")
cur.execute("INSERT INTO stocks VALUES('2006-04-05', 'BUY', 'MSFT', 1000, 72.0)")

In [ ]:
# iterator 사용 
# SELECT 문을 실행한 후 데이터를 꺼내려면, 
# 1) 커서를 이터레이터로 취급하거나, 
# 2)커서의 fetchone() 메서드를 호출하여 일치하는 단일 행을 꺼내거나,
# 3)  fetchall()를 호출하여 일치하는 행의 리스트를 가져올 수 있습니다.

In [ ]:
# 1) iterator 사용 방식 

for row in cur.execute('SELECT * FROM stocks ORDER BY Price'): 
  print(row)

('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)
('2006-03-28', 'BUY', 'IBM', 1000.0, 45.0)
('2006-04-06', 'SELL', 'IBM', 500.0, 53.0)
('2006-04-05', 'BUY', 'MSFT', 1000.0, 72.0)